<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="shortcut icon" href="assets/img/icone.png" />
    <title>BlockBuster</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="">
          <img id="logo" src="assets/img/logo.png" alt="/" />
        </a>
        <a class="nav" id="home" id="home" href="/">HOME</a>
        <a class="nav" id="cadastro" href="/cadastro">CADASTRO</a>
        <a class="nav" id="login" href="/login">LOGIN</a>
      </nav>
    </header>
    <main>
    <img id="capa" src="assets/img/capa.jpg" alt="/">
    <h1>Home</h1>
    </main>
  </body>
</html>