<div id="deletar">
  <h3>Remover Filme</h3>
  <p>Tem certeza que deseja excluir o filme <%= filmeDel.nome %></p>
</div>
<div id="yesOrNot">
  <a id="no" href="/">Não</a>
  <a id="yes" href="/remove/<%= filmeDel.id %>">Sim</a>
</div>
