<header>
  <nav>
    <a href="/">
      <img id="logo" src="/assets/img/logo.png" alt="/" />
    </a>
    <a class="nav" id="home" id="home" href="/">HOME</a>
    <a class="nav" id="create" href="/signup">CADASTRO</a>
  </nav>
</header>
