<section class="search">
  <form action="/search" method="POST">
      <input type="text" name="filme" placeholder="Nome do Filme">
      <button type="submit"><i class="bi bi-search"></i></button>
  </form>
</section>