@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto, arial;
}

header{
  background-color: rgb(14, 63, 169);
  padding: 1%;
}
nav {
  display: flex;
  justify-content: space-evenly;
}

#logo {
  width: 30rem;
  margin-left: 15%;
}

.nav{
  list-style: none;
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  color: rgb(255, 169, 3);
}

#home{
  margin-top: 5%;
  margin-right: 3%;
  margin-left: 33%;
}


#detalhes{
  margin-top: 5%;
  margin-right: 3%;
}

#cadastro{
  margin-top: 5%;
  margin-right: 3%;
}

#lista{
  margin-top: 5%;
  margin-right: 5%;
}

#capa{
  max-width: 100%;
  max-height: 100%;
}

h1{
  text-align: left;
  margin: 3%;
  font-size: 3rem;
  color: rgb(14, 63, 169);
  text-decoration: underline;
  text-decoration-color: rgb(255, 169, 3);
}

/*------------------------------------CADASTRO-------------------------------------*/
section#cadastro{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2%;
}

section#cadastro form{
  width: 50%;
}

section#cadastro form label{
  color: rgb(14, 63, 169);
  text-decoration-color: rgb(255, 169, 3);
  text-decoration-line: underline;
  font-weight: 500;
}

section#cadastro form input{
 width: 100%;
 padding: 1%;
 font-size: 1rem;
 font-weight: 400;
 margin: .8% 0 3% 0;
 border: solid rgb(14, 63, 169);
}

section#cadastro form button{
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid rgb(255, 169, 3);
  width: 7rem;
  padding: .5rem;
  color: rgb(14, 63, 169);
  font-size: 100%;
  font-weight: 900;
  margin-top: 1rem;
}

section#cadastro form button:hover{
  cursor: pointer;
  transition: .5s;
  background-color: rgb(14, 63, 169);
  border: solid rgb(14, 63, 169);
  color: rgb(255, 169, 3);
}

@media(max-width: 900px){
    #logo{
        width: 20rem;
        margin-left: 5%;
    }
    
    #home{
      margin-left: 8%;
    }
}

@media(max-width: 700px){
  #logo{
      width: 10rem;
      margin-left: 5%;
  }
}

@media(max-width: 700px){
  .nav{
    font-size: 60%;
  }
  #home{
    margin-left: 6%;
    margin-right: .5%;
  }
  #shop{
    margin-right: .5%;
  }
  
  #cadastro{
    margin-right: .5%;
  }
  
  #lista{
    margin-right: 1%;
  }
}