@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto, arial;
}

header{
  background-color: rgb(14, 63, 169);
  
}

nav {
  display: flex;
  justify-content: space-evenly;
}

#logo {
  width: 30rem;
  margin-left: 15%;
}

.nav{
  list-style: none;
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  color: rgb(255, 169, 3);
}

#home{
  margin-top: 5%;
  margin-right: 3%;
  margin-left: 33%;
}

#create{
  margin-top: 5%;
  margin-right: 3%;
}

.nav:hover{
  text-decoration: underline;
  text-decoration-color: rgb(255, 169, 3);
}

#capa{
  max-width: 100%;
  max-height: 100%;
}

h1{
  text-align: left;
  margin: 5vh 0 2vh 4vh;
  font-size: 5vh;
  color: rgb(14, 63, 169);
  text-decoration: underline;
  text-decoration-color: rgb(255, 169, 3);
}

/*----------------------------------cards---------------------*/
main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 4vh;
  box-shadow: 5px 5px 5px 5px #00000079;
  width: 50vh;
  padding: 4vh;
}

.card:hover{
  transition: 0.5s;
  transform: scale(1.07);
}

.card a{
  display: flex;
  justify-content: center;
}

#img{
  width: 70%;
  margin: 2vh;
}

#descricao h3{
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
}

#descricao p{
  margin: 2vh;
  text-align: center;
  font-size: 1.8vh;
}

#descricao{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

#editar{
  margin-top: 5%;
}

#editar a{
  text-decoration: none;
  background-color: white;
  border: solid rgb(255, 169, 3);
  padding: 0 2vh 0 2vh;
  color: rgb(14, 63, 169);
  font-size: 3vh;
  font-weight: 900;
}

#editar a:hover{
  transition: .6s;
  background-color: rgb(14, 63, 169);
  border: solid rgb(14, 63, 169);
  color: rgb(255, 169, 3);
}

#apagar{
  margin-top: 5%;
}

#apagar a{
  text-decoration: none;
  background-color: white;
  border: solid rgb(255, 169, 3);
  padding: 0 2vh 0 2vh;;
  color: rgb(14, 63, 169);
  font-size: 3vh;
  font-weight: 900;
}

#apagar a:hover{
  transition: .6s;
  background-color: rgb(14, 63, 169);
  border: solid rgb(14, 63, 169);
  color: rgb(255, 169, 3);
}

/*----------------------------deletar---------------------*/
#deletar h3{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  font-size: 7vh;
  color: rgb(14, 63, 169);
  text-decoration: underline;
  text-decoration-color: rgb(255, 169, 3);
}

#deletar p{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 4vh;
  color: rgb(14, 63, 169);
}

#yesOrNot{
  display: flex;
  justify-content: center;
}

#no{
  text-decoration: none;
  margin: 6vh 8vh 0 8vh;
  font-size: 4vh;
  color: rgb(14, 63, 169);
  background-color: white;
  border: solid rgb(255, 169, 3);
  padding: 0 2vh 0 2vh;;
  font-weight: 600;
}

#yes{
  text-decoration: none;
  margin: 6vh 8vh 0 8vh;
  font-size: 4vh;
  color: rgb(14, 63, 169);
  background-color: white;
  border: solid rgb(255, 169, 3);
  padding: 0 2vh 0 2vh;;
  font-weight: 600;
}

#yes:hover{
  transition: .6s;
  background-color: rgb(14, 63, 169);
  border: solid rgb(14, 63, 169);
  color: rgb(255, 169, 3);
}

#no:hover{
    transition: .6s;
    background-color: rgb(14, 63, 169);
    border: solid rgb(14, 63, 169);
    color: rgb(255, 169, 3);
}

/*----------------------------Editar---------------------*/
#editar h3{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  font-size: 7vh;
  color: rgb(14, 63, 169);
  text-decoration: underline;
  text-decoration-color: rgb(255, 169, 3);
}

/*--------------------------------CADASTRO---------------------------------*/
section#cadastro{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2vh;
}

section#cadastro form{
  margin-top: 5vh;
  width: 50%;
}

section#cadastro form label{
  color: rgb(14, 63, 169);
  font-size: 2.5vh;
  font-weight: 600;
}

section#cadastro form input{
 width: 100%;
 padding: 1%;
 font-size: 1rem;
 font-weight: 400;
 margin: .8% 0 3% 0;
 border: solid rgb(14, 63, 169);
}

section#cadastro form button{
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid rgb(255, 169, 3);
  width: 7rem;
  padding: .5rem;
  color: rgb(14, 63, 169);
  font-size: 100%;
  font-weight: 900;
  margin-top: 1rem;
}

section#cadastro form button:hover{
  cursor: pointer;
  transition: .5s;
  background-color: rgb(14, 63, 169);
  border: solid rgb(14, 63, 169);
  color: rgb(255, 169, 3);
}

/*---------------------------alerta----------------*/
#message{
  display: flex;
  justify-content: center;
  color: rgb(14, 63, 169);
  font-size: 10vh;
  background-color: rgb(255, 169, 3);
  padding: 5vh;
}


/*------------------------Rodapé------------------------*/
footer p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20vh;
  padding-bottom: 5vh;
  align-items: center;
  padding-top: 5vh;
  background-color: rgb(14, 63, 169);
  color: rgb(255, 169, 3);
  text-align: center;
  font-size: 2vh;
}

/*-----------------------Responsividade--------------------*/


@media(max-width: 900px){
  #logo{
      width: 20rem;
      margin-left: 5%;
  }
  
  #home{
    margin-left: 8%;
  }
}

@media(max-width: 700px){
#logo{
    width: 10rem;
    margin-left: 5%;
}
}

@media(max-width: 700px){
.nav{
  font-size: 60%;
}

#home{
  margin-left: 6%;
  margin-right: .5%;
}

#create{
  margin-right: .5%;
}

}
